Repository nugu-developers/nugu-ios, pull requests merged in 2020-12, with the labels that each got.

#656 Add `header` parameter in `requestSendCandidates` function
  NuguAgents/Sources/CapabilityAgents/PhoneCall/PhoneCallAgent.swift
  NuguAgents/Sources/CapabilityAgents/PhoneCall/PhoneCallAgentProtocol.swift
Labels: capability agent

#652 Check "duration" status before accessing AVURLAsset.duration property
  NuguCore/Sources/MediaPlayer/MediaPlayer.swift
Labels: bug

#654 Call `closeWindow` delegate even if `reason` field is empty
  NuguServiceKit/Sources/NuguServiceWebJavascriptDelegate.swift
  NuguServiceKit/Sources/NuguServiceWebView.swift
  SampleApp/Sources/UI/NuguServiceWebViewController.swift
Labels: bug

#661 Fixes a bug where `displayAgentDidClear` called abnormally when `LayerType` is `Media`.
  NuguAgents/Sources/CapabilityAgents/Display/DisplayAgent.swift
Labels: bug, capability agent

#657 Request background focus when `MediaPlayer.PlaySuspended` event is requested.
  NuguAgents/Sources/CapabilityAgents/MediaPlayer/MediaPlayerAgent.swift
  NuguClientKit/Sources/Business/BackgroundFocusHolder.swift
Labels: bug

#666 Fix crash issues.
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayer.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
Labels: capability agent, crash

#668 Make observer possible to be removed properly.
  NuguCore/Sources/MediaPlayer/MediaAVPlayerItem.swift
  NuguLoginKit/Sources/Business/NuguOAuthClient.swift
  SampleApp/Podfile
  SampleApp/SampleApp.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  SampleApp/Sources/Manager/NuguAudioSessionManager.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  SampleApp/Sources/UI/IntroViewController.swift
  SampleApp/Sources/UI/MainViewController.swift
  SampleApp/Sources/UI/NuguServiceWebViewController.swift
Labels: code quality

#669 Call `AudioPlayerAgentDelegate.audioPlayerAgentDidChange(duration:)` when duration of `AVAsset` is loaded.
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayer.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgentDelegate.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/Display/AudioPlayerDisplayManager.swift
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSPlayer.swift
  NuguCore/Sources/MediaPlayer/MediaPlayer.swift
  NuguCore/Sources/MediaPlayer/MediaPlayerDelegate.swift
  SampleApp/Sources/Manager/NuguDisplayPlayerController.swift
  SampleApp/Sources/UI/MainViewController.swift
Labels: bug, capability agent

#677 Refactor NuguDisplayPlayerController and Fix duration-vanishing issue.
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayer.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
  NuguAgents/Sources/CapabilityAgents/Sound/SoundAgent.swift
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/Opus/OpusPlayer.swift
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSAgent.swift
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSPlayer.swift
  NuguCore/Sources/MediaPlayer/MediaPlayer.swift
  NuguCore/Sources/MediaPlayer/MediaPlayerDelegate.swift
  SampleApp/Sources/Manager/NuguDisplayPlayerController.swift
  SampleApp/Sources/UI/MainViewController.swift
Labels: bug, code quality

#673 Remove deviceTypeCode parameter from function and make deviceTypeCode…
  NuguUIKit/Sources/DisplayView/NuguDisplayWebView.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  SampleApp/Sources/UI/MainViewController.swift
Labels: enhancement

#674 Replace `AudioPlayerView` instead of removing / adding
  NuguUIKit/Sources/AudioDisplayView/AudioPlayer1View.swift
  SampleApp/Sources/UI/MainViewController.swift
Labels: enhancement, sample application

#676 Replace `NuguDisplayWebView` instead of removing / adding `NuguDispla…
  SampleApp/Sources/UI/MainViewController.swift
Labels: sample application

#670 `AudioPlayerAgent` 1.5 (upgrade capability-agent)
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSAgent.swift
Labels: capability agent

#667 Do not stop the prefetched player when handling the `TTS.Stop` directive.
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSAgent.swift
Labels: capability agent

#681 Apply interaction control when handling `Display.ControlScroll` directive.
  NuguAgents/Sources/CapabilityAgents/Display/DisplayAgent.swift
  NuguAgents/Sources/CapabilityAgents/Display/DisplayControlPayload.swift
  NuguAgents/Sources/CapabilityAgents/Interaction/InteractionControl.swift
  NuguClientKit/Sources/Client/NuguClient.swift
  NuguTests/NuguAgents/DisplayAgentSpec.swift
Labels: capability agent

#680 Add `MicInputProviderDelegate`
  NuguClientKit/Sources/Audio/MicInputProvider/MicInputProvider.swift
  NuguClientKit/Sources/Audio/MicInputProvider/MicInputProviderDelegate.swift
  NuguClientKit/Sources/Client/NuguClient.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: sample application

#675 Add `NuguClient.requestTextInput` function to improve convenience.
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgentProtocol.swift
  NuguClientKit/Sources/Business/DialogStateAggregator.swift
  NuguClientKit/Sources/Client/NuguClient.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
Labels: enhancement

#679 Additional refactor of `NuguDisplayPlayerController`
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayer.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSPlayer.swift
  SampleApp/Sources/Manager/NuguDisplayPlayerController.swift
Labels: bug, sample application

#684 Update `deviceTypeCode` and `displayWebServerAddress` after the configuration file is configured.
  NuguClientKit/Sources/Configuration/ConfigurationMetadata.swift
  NuguClientKit/Sources/Configuration/ConfigurationStore.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: enhancement

#688 Use `GitHub Actions` instead of `Travis`
  .github/workflows/test_pull_request.yml
  .travis.yml
Labels: ci/cd

#691 Add `DisplayWebViewPresenter` and `DisplayWebViewPresenterDelegate` to `NuguClientKit`
  NuguClientKit/Sources/Presenter/DisplayWebViewPresenter.swift
  NuguClientKit/Sources/Presenter/DisplayWebViewPresenterDelegate.swift
  NuguUIKit/Sources/DisplayView/NuguDisplayWebView.swift
  SampleApp/Sources/UI/MainViewController.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: enhancement, sample application

#686 Handle `ASR.CancelRecognize` directive.
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
Labels: capability agent

#692 Add `AudioDisplayViewPresenter` and `AudioDisplayViewPresenterDelegate` to `NuguClientKit`
  NuguClientKit/Sources/Presenter/AudioDisplayViewPresenter.swift
  NuguClientKit/Sources/Presenter/AudioDisplayViewPresenterDelegate.swift
  NuguUIKit/Sources/AudioDisplayView/AudioDisplayView.swift
  NuguUIKit/Sources/AudioDisplayView/AudioPlayer1View.swift
  SampleApp/Sources/UI/MainViewController.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: enhancement, sample application
