Repository nugu-developers/nugu-ios, pull requests merged in 2021-01, with the labels that each got.

#696 Handle exception on creating "AVAudioInputNode"
  NuguClientKit/Sources/Audio/MicInputProvider/MicInputProvider.swift
Labels: crash

#695 Add `UtilityAgent` 1.0 (upgrade capability-agent)
  NuguAgents/Sources/CapabilityAgents/CapabilityAgentCategory.swift
  NuguAgents/Sources/CapabilityAgents/System/SystemAgent.swift
  NuguAgents/Sources/CapabilityAgents/Utility/UtilityAgent.swift
  NuguAgents/Sources/CapabilityAgents/Utility/UtilityAgentProtocol.swift
  NuguAgents/Sources/CapabilityAgents/Utility/UtilityBlockItem.swift
  NuguClientKit/Sources/Client/NuguClient.swift
  NuguCore/Sources/Directive/BlockingPolicy.swift
  NuguCore/Sources/Directive/DirectiveSequencer.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: capability agent

#705 Include full context for sending `ASR.ListenTimeout`.
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
Labels: capability agent

#710 Use NotificationCenter to notify 'SoundAgent' status has changed.
  NuguAgents/Sources/CapabilityAgents/Chips/ChipsAgentDelegate.swift
  NuguAgents/Sources/CapabilityAgents/PhoneCall/PhoneCallAgent.swift
  NuguAgents/Sources/CapabilityAgents/Sound/SoundAgent.swift
  NuguAgents/Sources/CapabilityAgents/Sound/SoundAgentDelegate.swift
  NuguAgents/Sources/CapabilityAgents/Sound/SoundAgentProtocol.swift
  NuguTests/NuguAgents/SoundAgentSpec.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: enhancement
