Repository nugu-developers/nugu-ios, pull requests merged in 2021-08, with the labels that each got.

#894 Remove mic use delegate and change audio session delegate instead
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregator.swift
  NuguClientKit/Sources/Client/NuguClient.swift
  NuguClientKit/Sources/Client/NuguClientDelegate.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  SampleApp/Sources/UI/SettingViewController.swift
Labels: enhancement, sample application

#897 Fix `NuguChipsView` xib issue (target)
  NuguUIKit/Sources/Chips/NuguChipsView.xib
Labels: bug

#903 Voice chrome
  NuguUIKit/Sources/VoiceChrome/NuguVoiceChrome.swift
Labels: ci/cd

#908 Fix `MPNowPlayingInfo` title and artist
  NuguClientKit/Sources/Presenter/ControlCenterManager.swift
Labels: bug

#898 Replace deprecated `keyWindow` with `windows.filter`
  NuguLoginKit/Sources/Handler/ASAuthenticationOAuthHandler.swift
  NuguUIKit/Sources/Toast/NuguToast.swift
  NuguUIKit/Sources/Util/SafeAreaUtil.swift
  NuguUtils/Sources/UserInterface/UserInterfaceUtil.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
Labels: bug, sample application

#899 Rename some methods and varibables
  NuguClientKit/Sources/Client/NuguClient.swift
  NuguClientKit/Sources/Client/NuguClientDelegate.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  SampleApp/Sources/UI/MainViewController.swift
Labels: code quality, sample application

#906 Remove retry policy on `Server-Initiated-Directive`
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregator.swift
  NuguCore/Sources/Network/Api/NuguApiProvider.swift
  NuguCore/Sources/StreamData/ServerSideEventReceiver.swift
  NuguCore/Sources/StreamData/StreamDataRouter.swift
Labels: code quality, drop

#909 Resolve issues which occurs when mic open while phone call
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregator.swift
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregatorError.swift
  NuguClientKit/Sources/Presenter/VoiceChromePresenter.swift
  NuguUIKit/Sources/Toast/NuguToast.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
  SampleApp/Sources/UI/MainViewController.swift
Labels: bug, sample application

#912 Fix issues from refactoring
  NuguAgents/Sources/CapabilityAgents/TextToSpeech/TTSAgent.swift
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregator.swift
Labels: bug

#916 `MessageAgent` 1.5 (upgrade capability-agent)
  NuguAgents/Sources/CapabilityAgents/Message/MessageAgent.swift
  NuguAgents/Sources/CapabilityAgents/Message/MessageAgentContact.swift
Labels: capability agent

#915 Resolve mac catalyst issues
  NuguClientKit/Sources/Audio/MicInputProvider/MicInputConst.swift
  NuguClientKit/Sources/Presenter/VoiceChromePresenter.swift
  NuguUIKit/Sources/AudioDisplayView/AudioPlayer1View.xib
  NuguUIKit/Sources/AudioDisplayView/ComponentViews/AudioPlayerBarView.xib
  SampleApp/Sources/AppDelegate.swift
  SampleApp/Sources/UI/SettingViewController.swift
Labels: bug, sample application

#914 Change sign style to manual
  nugu-ios.xcodeproj/project.pbxproj
Labels: ci/cd
