Repository nugu-developers/nugu-ios, pull requests merged in 2023-11, with the labels that each got.

#1104 AudioPlayer 보여지는 시점 원복
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
Labels: bug

#1108 Develop/1.9.2
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
  NuguAgents/Sources/CapabilityAgents/System/SystemAgent.swift
  NuguAgents/Sources/CapabilityAgents/System/SystemAgentExceptionCode.swift
  NuguCore/Sources/MediaPlayer/MediaPlayer.swift
  SampleApp/Sources/Manager/NuguCentralManager.swift
Labels: ci/cd

#1110 TextAgent 업데이트
  NuguAgents/Sources/CapabilityAgents/Text/TextAgent.swift
  NuguAgents/Sources/CapabilityAgents/Text/TextAgentProtocol.swift
  NuguClientKit/Sources/Client/NuguClient.swift
Labels: capability agent

#1111 ImageAgent 업데이트
  NuguAgents/Sources/CapabilityAgents/Image/Image+Event.swift
  NuguAgents/Sources/CapabilityAgents/Image/ImageAgent.swift
  NuguAgents/Sources/CapabilityAgents/Image/ImageAgentProtocol.swift
Labels: capability agent

#1112 Asr agent room
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent+Event.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgentProtocol.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRRequest.swift
Labels: capability agent

#1113 ASRAgent 내 requestType field 추가
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent+Event.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgentProtocol.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRNotifyResult.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASROptions.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRResult.swift
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregatable.swift
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregator.swift
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregatorState.swift
Labels: capability agent
