Repository nugu-developers/nugu-ios, pull requests merged in 2024-01, with the labels that each got.

#1114 AudioPlayer DelayEvent 시간 ceil이 아닌 floor로 처리하도록 변경
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayer.swift
Labels: bug

#1115 requestSendImage, requestTextInput 의 리턴타입 업데이트
  NuguAgents/Sources/CapabilityAgents/Image/ImageAgent.swift
  NuguAgents/Sources/CapabilityAgents/Image/ImageAgentProtocol.swift
  NuguAgents/Sources/CapabilityAgents/Text/TextAgent.swift
  NuguAgents/Sources/CapabilityAgents/Text/TextAgentProtocol.swift
Labels: capability agent

#1116 NuguClient 내 requestTextInput overloading 메서드 추가
  NuguClientKit/Sources/Client/NuguClient.swift
Labels: enhancement

#1117 asrState가 idle로 변경되는 로직 변경
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
Labels: bug

#1118 ExpectSpeech directive payload의 service필드 추가 및 directive수신 후 startRecognition 핸들링 로직 추가
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgentDelegate.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgentProtocol.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRExpectSpeech.swift
  nugu-ios.xcodeproj/project.pbxproj
Labels: capability agent

#1119 Text.Redirect, Text.ExpectTyping directive payload에 service 필드 추가 및 textInput Event에 포함시키도록 변경
  NuguAgents/Sources/CapabilityAgents/Text/TextAgent.swift
  NuguAgents/Sources/CapabilityAgents/Text/TextAgentExpectTyping.swift
  NuguAgents/Sources/CapabilityAgents/Text/TextAgentRedirectPayload.swift
Labels: capability agent

#1120 recognitionWithTriggerContext를 받을 수 있는 delegate 추가
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregator.swift
  NuguClientKit/Sources/Audio/SpeechRecognizerAggregatorDelegate.swift
  NuguClientKit/Sources/Client/NuguClient.swift
  NuguClientKit/Sources/Client/NuguClientDelegate.swift
Labels: bug, capability agent

#1121 NuguBuilder에 messengerAgent를 default agent에서 제거
  NuguClientKit/Sources/Client/NuguClient+Builder.swift
  NuguClientKit/Sources/Client/NuguClient.swift
Labels: backend

#1122 Text.TextSource Directive 내 service object field 추가
  NuguAgents/Sources/CapabilityAgents/Text/TextAgent.swift
  NuguAgents/Sources/CapabilityAgents/Text/TextAgentSourceItem.swift
Labels: capability agent

#1123 Text.TextSource Directive 디코딩 에러 수정
  NuguAgents/Sources/CapabilityAgents/Text/TextAgentSourceItem.swift
Labels: bug, capability agent
