Repository nugu-developers/nugu-ios, pull requests merged in 2024-03, with the labels that each got.

#1133 AudioPlayer Version Up(1.8 -> 1.9)
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/AudioPlayerAgent.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/Display/Models/AudioPlayerPlaylist.swift
  NuguAgents/Sources/CapabilityAgents/AudioPlayer/Display/Models/AudioPlayerSettingsTemplate.swift
Labels: capability agent

#1144 NuguCore podspec 업데이트
  NuguCore.podspec
Labels: ci/cd

#1149 update ASR Interface
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent+Event.swift
  NuguAgents/Sources/CapabilityAgents/AutomaticSpeechRecognition/ASRAgent.swift
Labels: capability agent

#1150 SPM내 Lottie 버전 업데이트
  Package.resolved
  Package.swift
Labels: enhancement
